<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div id="transactions">
  <% @transactions.each do |transaction| %>
    <div class="transaction <%= 'cancelled' if transaction.cancels_out %>">
      <div id="date"> <%= transaction.created_at.to_date %> </div>
      <div id="amount">
        <%= '-' unless transaction.deposit %>
        <%= transaction.amount %>
      </div>
      <div id="comment"> <%= transaction.comment %> </div>
      <div id="executor"> <%= transaction.executor %> </div>
      <%= button_to "Delete", transaction, method: :delete %>
    </div>

  <% end %>
</div>
