<h1><%=t(:transactions)%></h1>

<% if START_DATE < 3.months.ago %>
  <div id="graph">
    <% @last_year_monthly_history.each_with_index do |monthly_value, index| %>
      <div id=<%= index.to_s + "-month-ago" %> class='month' style=<%= month_collumn_height_string(monthly_value) %>>
      </div>
    <% end %>
</div>
<% end %>

<div id="transactions">
  <% @transactions.each do |transaction| %>
    <% next if transaction.cancels_out && transaction.cancels_out.created_at < transaction.created_at %>
    <div class="transaction <%= 'cancelled' if transaction.cancels_out %>">
      <div id="date"> <%= transaction.created_at.to_date %> </div>
      <div id="amount">
        <%= transaction.deposit ? '+' : '-' %>
        <%= transaction.amount %>
      </div>
      <div id="comment"> <%= transaction.comment %> </div>
      <div id="executor"> <%= transaction.executor %> </div>
      <%= button_to "#{transaction.cancels_out ? t(:restore) : t(:revert)}", transaction, method: :delete %>
    </div>
  <% end %>
</div>
