<!DOCTYPE html>
<html>
  <head>
    <title>Piggy bank 2000</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
       <header>
      <nav>
        <%= link_to t(:bank), root_path unless controller_name == "bank" %>
        <%= link_to t(:all_transactions), transactions_path unless @hide_transactions_menu_item %>
      </nav>
    </header>
    <main>
      <% if notice %>
        <blockquote>
          <%= notice %>
        </blockquote>
      <% end %>
      <% if alert %>
        <mark>
          <%= alert %>
        </mark>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
